.section-form__container {
  display: grid;
  gap: 28px;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 991.98px) {
  .section-form__container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767.98px) {
  .section-form__container {
    grid-template-columns: 1fr;
    padding: 0px;
    background-color: #F5F5F5;
  }
}
.section-form__photo {
  border-radius: 24px;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991.98px) {
  .section-form__photo {
    display: none;
  }
}
.section-form__form {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 72px;
  background-color: #1A5331;
  color: white;
  border-radius: 24px;
}
@media (max-width: 1199.98px) {
  .section-form__form {
    padding: 24px;
  }
}
@media (max-width: 767.98px) {
  .section-form__form {
    gap: 24px;
    border-radius: 0px;
  }
}
@media (max-width: 767.98px) {
  .section-form__form .form-group {
    flex-direction: column;
    align-items: stretch;
  }
}
.section-form__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 767.98px) {
  .section-form__header {
    gap: 8px;
  }
}
.section-form__title {
  font-family: "Adderley";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}
@media (max-width: 991.98px) {
  .section-form__title {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 575.98px) {
  .section-form__title {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
  }
}
.section-form__subtitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
@media (max-width: 575.98px) {
  .section-form__subtitle {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}
.section-form__footer {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 767.98px) {
  .section-form__footer {
    flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 767.98px) {
  .section-form__footer button {
    width: 100%;
  }
}

.form[data-status=pending] {
  opacity: 0.5;
  pointer-events: none;
}
.form-group {
  display: flex;
  align-items: end;
  gap: 24px;
}
@media (max-width: 767.98px) {
  .form-group {
    gap: 16px;
  }
}
.form-group > * {
  flex: 1 1 100%;
}
.form-group_vertical {
  flex-direction: column;
  align-items: stretch;
}
.form-group_horizontal {
  flex-direction: column;
  align-items: stretch;
}
.form-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 767.98px) {
  .form-section {
    gap: 16px;
  }
}
.form-agreement a {
  text-decoration: underline;
}

.field-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.field-text__input {
  padding: 16px 24px;
  height: 52px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #A5A5A5;
  outline: 0;
  width: 100%;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 575.98px) {
  .field-text__input {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}
.field-text__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.field-text__input:focus, .field-text__input:hover {
  color: #1A1A1A;
}
.field-checkbox {
  --checkbox-background-color: white;
  --checkbox-border-color: white;
  --checkbox-hover-color: white;
  --checkbox-hover-background-color: white;
  --checkbox-hover-border-color: #73BC25;
  --checkbox-checked-background-color: #73BC25;
  --checkbox-checked-border-color: #73BC25;
  --checkbox-color: #73BC25;
  --checkbox-mark-width: 12px;
  display: inline-flex;
  align-items: start;
  gap: 16px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.field-checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.field-checkbox__checkmark {
  flex-shrink: 0;
  position: relative;
  height: 18px;
  width: 18px;
  border: 1px solid;
  border-color: var(--checkbox-border-color);
  color: var(--checkbox-color);
  background-color: var(--checkbox-background-color);
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: ease-in 150ms;
}
.field-checkbox__checkmark div {
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  width: 0px;
  line-height: 0;
  transform: translate(calc(-50% - var(--checkbox-mark-width) * 0.5), -50%);
  transition: 0.2s ease-out;
  transition-property: width, transform;
}
.field-checkbox input:checked ~ .field-checkbox__checkmark div {
  transform: translate(-50%, -50%);
  width: var(--checkbox-mark-width);
  height: calc(var(--checkbox-mark-width) * 0.7);
}
.field-checkbox input:checked ~ .field-checkbox__checkmark {
  border-color: var(--checkbox-checked-border-color);
  color: var(--checkbox-checked-color);
  background-color: var(--checkbox-checked-background-color);
}
.field-checkbox__checkmark:hover, .field-checkbox input:focus-within ~ .field-checkbox__checkmark {
  outline: 2px solid var(--checkbox-hover-border-color);
  outline-offset: 2px;
}
.field-checkbox__content {
  color: rgba(255, 255, 255, 0.56);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 575.98px) {
  .field-checkbox__content {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}
