.header__inner {
  padding: 48px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
@media (max-width: 991.98px) {
  .header__inner {
    padding: 24px 0px;
  }
}
.header__border {
  padding: 0px 150px;
}
@media (max-width: 991.98px) {
  .header__border {
    padding: 0px;
  }
}
