/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Adderley";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/Adderley-Bold.eot");
  src: url("../fonts/Adderley-Bold.eot?#prefix") format("embedded-opentype"), url("../fonts/Adderley-Bold.woff2") format("woff2"), url("../fonts/Adderley-Bold.woff") format("woff"), url("../fonts/Adderley-Bold.ttf") format("truetype"), url("../fonts/Adderley-Bold.otf") format("opentype");
}
.typography-h1 {
  font-family: "Adderley";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}
@media (max-width: 991.98px) {
  .typography-h1 {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 575.98px) {
  .typography-h1 {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
  }
}

.typography-h2 {
  font-family: "Adderley";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
}
@media (max-width: 991.98px) {
  .typography-h2 {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (max-width: 575.98px) {
  .typography-h2 {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
  }
}

.typography-h3 {
  font-family: "Adderley";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
@media (max-width: 991.98px) {
  .typography-h3 {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 575.98px) {
  .typography-h3 {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
  }
}

.typography-caption {
  font-family: "Adderley";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
@media (max-width: 991.98px) {
  .typography-caption {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 575.98px) {
  .typography-caption {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}

.typography-accent {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
@media (max-width: 575.98px) {
  .typography-accent {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

.typography-body {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.typography-body-large {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 24px;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1416px;
  }
}
.layout-pt {
  padding-top: 80px;
}
.layout-pb {
  padding-bottom: 80px;
}
.layout-mt {
  margin-top: 80px;
}
.layout-mb {
  margin-bottom: 80px;
}
