.section-manufacture__container {
  position: relative;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .section-manufacture__container {
    padding: 0px;
  }
}
.section-manufacture__slider {
  border-radius: 24px;
}
@media (max-width: 991.98px) {
  .section-manufacture__slider {
    border-radius: 0px;
  }
}
.section-manufacture__slide {
  position: relative;
  aspect-ratio: 1392/856;
}
@media (max-width: 767.98px) {
  .section-manufacture__slide {
    aspect-ratio: 320/400;
  }
}
.section-manufacture__slide-title {
  position: absolute;
  left: 128px;
  top: 80px;
  max-width: 500px;
  color: white;
  font-family: "Adderley";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}
@media (max-width: 991.98px) {
  .section-manufacture__slide-title {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 575.98px) {
  .section-manufacture__slide-title {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
  }
}
@media (max-width: 1199.98px) {
  .section-manufacture__slide-title {
    left: 24px;
    top: 24px;
  }
}
.section-manufacture__slide-image {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991.98px) {
  .section-manufacture__slide-image {
    border-radius: 0px;
  }
}
.section-manufacture__thumbs {
  position: absolute;
  bottom: 80px;
  left: 128px;
  right: 128px;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
}
@media (min-width: 992px) {
  .section-manufacture__thumbs {
    border: 1px solid rgba(255, 255, 255, 0.56);
  }
  .section-manufacture__thumbs li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.56);
  }
}
@media (max-width: 1199.98px) {
  .section-manufacture__thumbs {
    left: 24px;
    right: 24px;
    bottom: 24px;
  }
}
@media (max-width: 991.98px) {
  .section-manufacture__thumbs {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    border-radius: 0px;
    width: 100%;
  }
  .section-manufacture__thumbs::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    z-index: 2;
    pointer-events: none;
  }
}
.section-manufacture__thumb {
  padding: 24px 32px;
  height: unset;
  align-self: stretch;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Adderley";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
@media (max-width: 991.98px) {
  .section-manufacture__thumb {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 575.98px) {
  .section-manufacture__thumb {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 991.98px) {
  .section-manufacture__thumb {
    padding: 16px 24px;
    color: #1A1A1A;
  }
}
.section-manufacture__thumb:hover {
  background-color: rgba(0, 0, 0, 0.24);
}
@media (max-width: 991.98px) {
  .section-manufacture__thumb:hover {
    color: #fff;
  }
}
.section-manufacture__thumb.active {
  background-color: #73BC25;
}
@media (max-width: 991.98px) {
  .section-manufacture__thumb.active {
    color: #fff;
  }
}
