.section-news {
  overflow: hidden;
}
.section-news__header {
  margin-bottom: 80px;
}
@media (max-width: 767.98px) {
  .section-news__header {
    margin-bottom: 32px;
  }
}
.section-news__body {
  margin-bottom: 80px;
}
@media (max-width: 767.98px) {
  .section-news__body {
    margin-bottom: 32px;
  }
}
.list .section-news__list > *:not(:last-child) {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.slider .section-news__item {
  max-width: 480px;
}
.section-news__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-news__navigation {
  display: flex;
  gap: 16px;
}
.list .section-news__navigation {
  display: none;
}
.section-news.slider {
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 1199.98px) {
  .section-news.slider {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.card-news__link {
  display: contents;
}
.card-news__preview {
  width: 100%;
  aspect-ratio: 480/312;
  border-radius: 24px;
  margin-bottom: 40px;
  background-color: rgba(115, 188, 37, 0.2);
  border: 1px solid #E1E1E1;
}
@media (max-width: 767.98px) {
  .card-news__preview {
    aspect-ratio: 272/176;
    margin-bottom: 24px;
  }
}
.card-news__title {
  transition: color 0.3s ease-in-out;
  margin-bottom: 24px;
}
@media (max-width: 767.98px) {
  .card-news__title {
    margin-bottom: 16px;
  }
}
.card-news:hover .card-news__title {
  color: #73BC25;
}
.card-news__date {
  color: #ADADAD;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 575.98px) {
  .card-news__date {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}
