.section-places__inner {
  padding: 0px 150px;
}
@media (max-width: 991.98px) {
  .section-places__inner {
    padding: 0px;
    gap: 32px;
  }
}
.section-places__title {
  font-family: "Adderley";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}
@media (max-width: 991.98px) {
  .section-places__title {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 575.98px) {
  .section-places__title {
    font-family: "Adderley";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
  }
}
.section-places__title {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .section-places__title {
    margin-bottom: 32px;
  }
}
