@media (max-width: 991.98px) {
  .section-trademarks__container {
    padding: 0px;
  }
}
.section-trademarks__inner {
  padding: 120px 150px 80px;
  border-radius: 24px;
  background-color: #EEF7E5;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .section-trademarks__inner {
    padding: 32px 24px;
    border-radius: 0px;
  }
}
.section-trademarks .swiper-slide {
  width: auto;
}
.section-trademarks .js-trademarks-swiper-content {
  width: 224px;
  height: 124px;
  background-color: #1A5632;
}
