.section-trademarks__container {
  background-color: #EEF7E5;
  border-radius: 24px;
}
@media (max-width: 1199.98px) {
  .section-trademarks__container {
    border-radius: 0;
  }
}
.section-trademarks__inner {
  padding: 0 0 0 150px;
}
@media (max-width: 991.98px) {
  .section-trademarks__inner {
    padding: 0px;
    gap: 32px;
  }
}
.section-trademarks .swiper-slide {
  width: auto;
}
.section-trademarks .js-trademarks-swiper-content {
  width: 224px;
  height: 124px;
  background-color: #1A5632;
}
