@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/maps";
@import "../bootstrap/mixins";

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-display: swap;
		font-weight: $fweight;
		src: url($furl+'.eot');
		src: url($furl+'.eot?#prefix') format('embedded-opentype'),
			url($furl+'.woff2') format('woff2'),
			url($furl+'.woff') format('woff'),
			url($furl+'.ttf') format('truetype'),
			url($furl+'.otf') format("opentype");
	}
}

$color-dark: #1A1A1A;
$color-dark-light: #ADADAD;
$color-light: #fff;
$color-light-dark: #F5F5F5;
$color-accent: #73BC25;

@mixin typography($family, $style, $weight, $size, $height) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

//Н1 – Заголовок 72/72
//h2 – заголовок 56/56
//h3 – заголовок 40/48
//Подпись 32/40
@mixin typography-desktop-h1 {
  @include typography("Adderley", normal, 700, 72px, 72px);
}
@mixin typography-desktop-h2 {
  @include typography("Adderley", normal, 700, 56px, 56px);
}
@mixin typography-desktop-h3 {
  @include typography("Adderley", normal, 700, 40px, 48px);
}
@mixin typography-desktop-caption {
  @include typography("Adderley", normal, 400, 32px, 40px);
}

//Н1 – Заголовок 28/28
//h2 – заголовок 28/28
//h3 – заголовок 24/48
//Подпись 18/20

@mixin typography-tablet-h1 {
  @include typography("Adderley", normal, 700, 40px, 40px);
}
@mixin typography-tablet-h2 {
  @include typography("Adderley", normal, 700, 36px, 36px);
}
@mixin typography-tablet-h3 {
  @include typography("Adderley", normal, 700, 32px, 40px);
}
@mixin typography-tablet-caption {
  @include typography("Adderley", normal, 400, 24px, 32px);
}

@mixin typography-mobile-h1 {
  @include typography("Adderley", normal, 700, 28px, 28px);
}
@mixin typography-mobile-h2 {
  @include typography("Adderley", normal, 700, 28px, 28px);
}
@mixin typography-mobile-h3 {
  @include typography("Adderley", normal, 700, 24px, 48px);
}
@mixin typography-mobile-caption {
  @include typography("Adderley", normal, 400, 18px, 20px);
}

@mixin typography-h1 {
    @include typography-desktop-h1();

    @include media-breakpoint-down(lg) {
        @include typography-tablet-h1();
    }

    @include media-breakpoint-down(sm) {
        @include typography-mobile-h1();
    }
}

@mixin typography-h2 {
    @include typography-desktop-h2();

    @include media-breakpoint-down(lg) {
        @include typography-tablet-h2();
    }

    @include media-breakpoint-down(sm) {
        @include typography-mobile-h2();
    }
}

@mixin typography-h3 {
    @include typography-desktop-h3();

    @include media-breakpoint-down(lg) {
        @include typography-tablet-h3();
    }

    @include media-breakpoint-down(sm) {
        @include typography-mobile-h3();
    }
}

@mixin typography-caption {
    @include typography-desktop-caption();


    @include media-breakpoint-down(lg) {
        @include typography-tablet-caption();
    }

    @include media-breakpoint-down(sm) {
        @include typography-mobile-caption();
    }
}


// Акцентный текст 20/32 Semibold
// Обычный в 2-3 строки текст 20/32 Regular
// Обычный текст большого объема 20/40 Regular

@mixin typography-desktop-title {
  @include typography("Manrope", normal, 600, 64px, 64px);
}

@mixin typography-desktop-accent {
  @include typography("Manrope", normal, 400, 20px, 32px);
}

@mixin typography-body {
  @include typography("Manrope", normal, 400, 20px, 32px);
}

@mixin typography-desktop-small {
  @include typography("Manrope", normal, 400, 16px, 24px);
}

@mixin typography-desktop-label {
  @include typography("Manrope", normal, 400, 14px, 22px);
}



@mixin typography-mobile-title {
  @include typography("Manrope", normal, 600, 32px, 40px);
}

@mixin typography-mobile-accent {
  @include typography("Manrope", normal, 400, 14px, 24px);
}

@mixin typography-mobile-small {
  @include typography("Manrope", normal, 400, 12px, 20px);
}

@mixin typography-mobile-label {
  @include typography("Manrope", normal, 400, 12px, 20px);
}


@mixin typography-title {
  @include typography-desktop-title();

  @include media-breakpoint-down(sm) {
      @include typography-mobile-title();
  }
}

@mixin typography-accent {
  @include typography-desktop-accent();

  @include media-breakpoint-down(sm) {
      @include typography-mobile-accent();
  }
}

@mixin typography-small {
  @include typography-desktop-small();

  @include media-breakpoint-down(sm) {
      @include typography-mobile-small();
  }
}

@mixin typography-label {
  @include typography-desktop-label();

  @include media-breakpoint-down(sm) {
      @include typography-mobile-label();
  }
}

@mixin layout-pt {
    padding-top: 80px;

    @include media-breakpoint-down(md) {
        padding-top: 32px;
    }
}

@mixin layout-pb {
    padding-bottom: 80px;
    
    @include media-breakpoint-down(md) {
        padding-bottom: 32px;
    }
}

@mixin layout-mt {
    margin-top: 80px;

    @include media-breakpoint-down(md) {
        margin-top: 32px;
    }
}

@mixin layout-mb {
    margin-bottom: 80px;

    @include media-breakpoint-down(md) {
        margin-bottom: 32px;
    }
}

@mixin form-group_vertical {
  flex-direction: column;
  align-items: stretch;
}

@mixin form-group_horizontal {
  flex-direction: row;
  align-items: center;
}
