

.section-contacts {
  &__container {
    display: grid;
    gap: 28px;
    grid-template-columns: 1fr 1fr;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
      padding: 0px;
      background-color: #F5F5F5;
    }
  }

  &__info {
    padding: 72px;
    border-radius: 24px;
    background-color: #F5F5F5;

    @include media-breakpoint-down(lg) {
      padding: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }

  &__map {
    min-height: 680px;

    @include media-breakpoint-down(md) {
      padding: 24px;
    }
  }
}

.contact-item {
  display: flex;
  flex-direction: column;
  max-width: 420px;

  &__label {
    margin-bottom: 16px;
    text-transform: uppercase;

    color: rgba($color: #1A1A1A, $alpha: 0.56);

    @include typography-small;
    font-weight: 600;
  }

  &__value {
    @include typography-caption;
  }

  &__description {
    margin-top: 24px;

    @include typography-small;

    a {
      color: $color-accent;
    }
  }
}


ymaps {
  border-radius: 24px;

  @include media-breakpoint-down(md) {
    border-radius: 12px;
  }

  .ymaps-2-1-79-zoom {
    position: relative;
    display: block;
    width: unset !important;
    height: unset !important;
    padding: 0 !important;
    margin-top: 50px;
    display: flex !important;
    flex-direction: column;
    gap: 15px;
  }

  .ymaps-2-1-79-float-button,
  .ymaps-2-1-79-listbox__button {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    max-width: unset !important;
    width: 48px;
    height: 48px;
    padding: 0 !important;
    border-radius: 50% !important;
    background-color: $color-accent;

    &:hover {
      background-color: #62AA16;
    }

    @include media-breakpoint-down(md) {
      width: 40px;
      height: 40px;
    }

    &:active,
    &:focus-visible {
      background-color: #62AA16;
    }

    &-icon {
      position: static !important;
      filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(681%) hue-rotate(192deg) brightness(110%) contrast(100%);
    }
  }

  .map-placemark {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background-color: $color-accent;
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 46px;
      height: 46px;
      background-color: rgba($color-accent, 0.5);
      border-radius: 50%;
      transform-origin: center;
      animation: map-icon-riple 3000ms cubic-bezier(0.47, 0, 0.23, 1.38) infinite both;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 64px;
      height: 64px;
      background-color: rgba($color-accent, 0.2);
      border-radius: 50%;
      transform-origin: center;
      animation: map-icon-riple 3000ms cubic-bezier(0.47, 0, 0.23, 1.38) infinite both;
    }
  }
}


@keyframes map-icon-riple {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  20% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.3);
  }

  70% {
    transform: translate(-50%, -50%) scale(1.3);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}