

.section-news {
    overflow: hidden;

    &__header {
        @include layout-mb;
    }

    &__body {
        @include layout-mb;
    }

    &__list {
        .list & > *:not(:last-child) {
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.12);
        }
    }

    &__item {
        .slider & {
            max-width: 480px;

        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__navigation {
        display: flex;
        gap: 16px;

        .list & {
            display: none;
        }
    }

    &.slider {
        padding-left: 150px;
        padding-right: 150px;

        @include media-breakpoint-down(xl) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

.card-news {
    &__link {
        display: contents;
    }

    &__preview {
        width: 100%;
        aspect-ratio: 480/312;
        border-radius: 24px;

        margin-bottom: 40px;

        background-color: rgba($color-accent, 0.2);
        border: 1px solid #E1E1E1;

        @include media-breakpoint-down(md) {
            aspect-ratio: 272/176;
            margin-bottom: 24px;
        }
    }

    &__title {
        transition: color 0.3s ease-in-out;
        margin-bottom: 24px;

        @include media-breakpoint-down(md) {
            margin-bottom: 16px;
        }
    }

    &:hover &__title {
        color: $color-accent;
    }

    &__date {
        color: $color-dark-light;

        @include typography-label;
    }
}


