

.section-promo {
    &__container {

    }

    &__inner {
        display: flex;
        align-items: center;
        padding: 0px 150px;
        min-height: 55vh;

        @include media-breakpoint-down(lg) {
            min-height: 60vh;
            padding: 0px;
            gap: 32px;
        }
    }
}