

.section-trademarks {
  &__container {
    @include media-breakpoint-down(lg) {
      padding: 0px;
    }
  }

  &__inner {
    padding: 120px 150px 80px;
    border-radius: 24px;
    background-color: #EEF7E5;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      padding: 32px 24px;

      border-radius: 0px;
    }
  }

  .swiper-slide {
    width: auto;

    &:nth-child(4n+1) .js-trademarks-swiper-content {
      background-color: #73BC25;
    }

    &:nth-child(4n+2) .js-trademarks-swiper-content {
      background-color: #E93A4F;
    }

    &:nth-child(4n+3) .js-trademarks-swiper-content {
      background-color: #FFAF37;
    }

    &:nth-child(4n+4) .js-trademarks-swiper-content {
      background-color: #E75DB9;
    }

  }

  .js-trademarks-swiper-content {
    width: 224px;
    height: 124px;
    background-color: #1A5632;
  }


  .trademarks-img {
    bottom: 10px;
    right: 10px;
    z-index: 1;
  }
}