@import 'base';

.section-banner {
    &__container {
    }

    &__inner {
        display: flex;
        flex-direction: column;
        padding: 0px 150px;

        @include media-breakpoint-down(lg) {
            padding: 0px;
            gap: 32px;
        }
    }

    &__text {
        max-width: 800px;

        @include typography-h1;
    }

    &__item {
        position: relative;
        display: inline-block;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        cursor: pointer;

        transition: color 0.3s ease-in-out;

        &:hover {
            color: $color-accent
        }
    }
    
    &__item-modal {
        position: absolute;
        display: block;
        opacity: 0;
        scale: 0;
        transition: opacity 0.5s ease-out, scale 0.5s ease-out;
        transform-origin: left top;
        pointer-events: none;
        z-index: 10;
        width: 152px;
        height: 152px;
        border-radius: 50%;
        object-fit: cover;
        max-width: unset;
    }

    &__item:hover &__item-modal {
        opacity: 1;
        scale: 1;
    }

    &__footer {
        display: flex;
        align-items: end;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
            align-items: start;
            gap: 32px;
        }
    }
}

.hero-badge {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: end;
    gap: 16px;
    padding: 24px 32px;
    border-radius: 12px;
    text-align: end;

    background-color: #1A5632;
    color: #ffffff;

    color: $color-light;

    @include media-breakpoint-down(sm) {
        align-items: start;
        padding: 0px;
        background-color: transparent;
        color: $color-dark;
        text-align: start;
    }

    &__title {
        @include typography-small;
        font-weight: 600;

    }

    &__text {
        @include typography-label;
    }
}