@import 'base';


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@include font('Adderley', normal, 700, '../fonts/Adderley-Bold');

.typography-h1 {
  @include typography-h1;
}
.typography-h2 {
  @include typography-h2;
}
.typography-h3 {
  @include typography-h3;
}
.typography-caption {
  @include typography-caption;
}

.typography-accent {
  @include typography-accent;
}
.typography-body {
  @include typography-body;
}
.typography-label {
  @include typography-label;
}

.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
    --bs-gutter-x: 24px;
}

@media (min-width: 1400px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
        max-width: 1416px;
    }
}

.layout {
    &-pt {
        @include layout-pt;
    }

    &-pb {
        @include layout-pb;
    }

    &-mt {
        @include layout-mt;
    }

    &-mb {
        @include layout-mb;
    }
}


.slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 64px;
    border-radius: 100px;
    background-color: $color-light-dark;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border: none;
    outline: none;

    &::after {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1;

        content: '→'
    }

    &.preview::after {
        transform: rotateY(180deg);
    }

    &:hover {
        background-color: $color-accent;
        color: $color-light;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: fit-content;
    padding: 16px 8px;
    border-radius: 100px;
    background-color: $color-accent;
    color: $color-light;
    cursor: pointer;
    border: 0;
    outline: 0;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
        background-color: #62AA16;
    }
    
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      
      min-width: 160px;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
    }
}