.ticker-slider .swiper-wrapper {
  transition-timing-function: linear !important;
}

.ticker-slider .swiper-slide {
  width: auto;
}

.js-partners-swiper-slide-content {
  width: 266px;
  height: 168px;
  background-color: #F6F6F6;
}

@media (max-width: 991px) {
  .js-partners-swiper-slide-content {
    width: 226px;
    height: 128px;
  }
}

@media (max-width: 767px) {
  .ticker-slider .swiper-wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    transform: none !important;
    margin: 0 auto;
  }

  .ticker-slider .swiper-slide {
    width: 100% !important;
    margin: 0 !important;
  }

  .js-partners-swiper-slide-content {
    width: 100% !important;
  }

}
