@import 'base';

.section-trademarks {
  &__container {
    @include media-breakpoint-down(lg) {
      padding: 0px;
    }
  }

  &__inner {
    padding: 120px 150px 80px;
    border-radius: 24px;
    background-color: #EEF7E5;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      padding: 32px 24px;

      border-radius: 0px;
    }
  }

  .swiper-slide {
    width: auto;
  }

  .js-trademarks-swiper-content {
    width: 224px;
    height: 124px;
    background-color: #1A5632;
  }
}